$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

/* colors */
$accent-cl: #2196f3;
$main-txt-cl: #757575;
$secondary-txt-cl: #ffffff;
$title-cl: #212121;
$logo-dark-cl: #000000;
$logo-light-cl: #fff;
$adress-cl: rgba(255, 255, 255, 0.6);
$input-cl: #ffffff4d;
$secondary-bg-cl: #2e2f42;
$btn-cl: #188ce8;
$light-cl: #f5f4fa;
$icon-cl: var(--CLOUD, #f4f4fd);
$text-cl: rgba(47, 48, 58, 0.8);
$link-cl: #afb1b8;
$overlay-cl: rgba(33, 150, 243, 0.9);
$down-block-cl: #2f303a;
$down-social-cl: rgba(255, 255, 255, 0.1);
$backdrop-cl: rgba(0, 0, 0, 0.2);
$border-input-cl: rgba(33, 33, 33, 0.2);
$border-check-cl: rgba(46, 47, 66, 0.4);
$box-shadow-cl: rgba(0, 0, 0, 0.15);
$border-sbs-input-cl: rgba(255, 255, 255, 0.3);
