.solution__button {
  cursor: pointer;
  color: $logo-light-cl;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  min-width: 200x;
  height: 50px;
  border-radius: 4px;
  background: $accent-cl;
  box-shadow: 0px 4px 4px 0px box-shadow-cl;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: $btn-cl;
  }
}
