.factors {
  padding: 94px 0;
}
.list {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px 30px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.factors__items {
  width: 100%;
  align-items: flex-start;
  @media screen and (max-width: 767.98px) {
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 4);
  }
}
.items__container {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 120px;
  flex-shrink: 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background: $light-cl;
}

.factors__title {
  color: $title-cl;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;

  margin-bottom: 10px;
  @media only screen and (min-width: 768px) {
    text-align: left;
  }
}
.factors__text {
  color: $main-txt-cl;
  font-size: 14px;

  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  align-items: center;
}
