.down-block {
  background: $down-block-cl;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media only screen and (min-width: 1200px) {
    flex-wrap: nowrap;

    align-items: baseline;
  }
}
.page-adress-footer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 231px;
}
.adress-info-footer {
}
