.logo {
  color: $accent-cl;
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    margin-right: 93px;
  }
}
.logo-dark {
  color: $logo-dark-cl;
}
.logo-down {
  color: $accent-cl;
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  margin-bottom: 20px;
}
.logo-light {
  color: $logo-light-cl;
}
