.logo {
  color: $accent-cl;
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding: 16px 0;
}
.logo-dark {
  color: $logo-dark-cl;
}
.logo-down {
  color: $accent-cl;
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: block;
  margin-bottom: 20px;
  @media only screen and (max-width: 767.98px) {
    justify-content: center;
    display: flex;
  }
  @media only screen and (min-width: 768px) {
    text-align: center;
  }
  @media only screen and (min-width: 1200px) {
    text-align: left;
  }
}

.logo-light {
  color: $logo-light-cl;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
