.nav-header {
  display: flex;
  align-items: center;
  margin-right: auto;
}
@media only screen and (max-width: 767.98px) {
  .page-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
  }
}
@media screen and (min-width: 1600px) {
  .page-nav {
    display: flex;
  }
}

.link {
  color: $title-cl;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  display: inline-flex;
  padding: 32px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;

  &:hover,
  &:focus {
    color: $accent-cl;
  }
}
.link.active {
  color: $accent-cl;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-cl;
  }
}
@media screen and (min-width: 768px) {
  .link {
    gap: 50px;
  }
}
@media screen and (min-width: 1600px) {
  .link {
    gap: 50px;
  }
}
@media only screen and (max-width: 767.98px) {
  .page-adress {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1600px) {
  .page-adress {
    flex-direction: row;
    gap: 40px;
  }
}

.adress-info {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress {
  color: $main-txt-cl;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;

  &:hover,
  &:focus {
    color: $accent-cl;
  }
}

@media screen and (min-width: 1600px) {
  .adress {
    font-size: 14px;
    gap: 40px;
  }
}
.menu-open-btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .menu-open-btn {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $logo-light-cl;
    top: 0;
    left: 0;
  }
  .menu-close-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    fill: #212121;
    stroke-width: 1px;
    stroke: #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
.footer-address {
  color: $logo-light-cl;
  font-weight: 400;
}
.footer-mail {
  color: $adress-cl;
  font-weight: 400;
}
.footer-tel {
  color: $adress-cl;
  font-weight: 400;
}
.contact-icon {
  fill: currentColor;
}
